#particles {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}

.particle {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0.8;
    animation: subir 6s linear infinite;
}

@keyframes subir {
    from {
        transform: translateY(100vh) scale(0.6);
    }
    to {
        transform: translateY(-10vh) scale(1);
    }
}
